<h1 class="mat-h1">Modulo de Proyectos</h1>
<div>
  <app-agregar-proyecto></app-agregar-proyecto>
</div>
<br/>

<mat-tab-group dynamicHeight color="warn" mat-align-tabs="center">

  <mat-tab label="Por Aprobar">
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(1)">Por Aprobar</span>
    </ng-template>
    <div>
      <nz-table [nzData]="['']">
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">

              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary"
                      (click)="onApproveProject(data.id)"  nz-tooltip nzTooltipTitle="Aprobar Proyecto" nzTooltipColor="#ff7961">
                <mat-icon class="approve">done_outline</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="warn"
                      (click)="onRejectedProject(data.id)"  nz-tooltip nzTooltipTitle="Rechazar Proyecto" nzTooltipColor="#ff7961">
                <mat-icon class="deny">cancel</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic"
                      (click)="showModal(data.id)"  nz-tooltip nzTooltipTitle="Mas Informacion" nzTooltipColor="#ff7961">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>


    </div>
  </mat-tab>

  <mat-tab label="En Curso">
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(2)">En Curso</span>
    </ng-template>
    <div>
      <nz-table [nzData]="['']">
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">

              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary"
                      (click)=" onCompleteProject(data.id)"  nz-tooltip nzTooltipTitle="Finalizar Proyecto" nzTooltipColor="#ff7961">
                <mat-icon class="approve">done_outline</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="warn"
                      (click)=" onRetiredProject(data.id)"  nz-tooltip nzTooltipTitle="Dar de baja el Proyecto" nzTooltipColor="#ff7961">
                <mat-icon class="deny">cancel</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic"
                      (click)="showModal(data.id)"  nz-tooltip nzTooltipTitle="Mas Informacion" nzTooltipColor="#ff7961">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </mat-tab>

  <mat-tab label="Completados">
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(3)">Completados</span>
    </ng-template>
    <div>
      <nz-table [nzData]="['']">
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic"
                      (click)="showModalCompleted(data.id)"  nz-tooltip nzTooltipTitle="Mas Informacion" nzTooltipColor="#ff7961">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </mat-tab>

  <mat-tab label="Rechazados">
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(4)">Rechazados</span>
    </ng-template>
    <div>
      <nz-table [nzData]="['']">
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic"
                      (click)="showModal(data.id)"  nz-tooltip nzTooltipTitle="Mas Informacion" nzTooltipColor="#ff7961">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </mat-tab>

  <mat-tab label="Abandonados">
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(5)">Abandonados</span>
    </ng-template>
    <div>
      <nz-table [nzData]="['']">
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic"
                      (click)="showModal(data.id)"  nz-tooltip nzTooltipTitle="Mas Informacion" nzTooltipColor="#ff7961">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </mat-tab>
</mat-tab-group>


<nz-modal [(nzVisible)]="isVisibleCompleted" nzTitle="Integrantes del proyecto" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk() ">
  <ng-container *nzModalContent >
    <nz-table class="container">
      <thead>
      <tr>
        <th nzWidth="30%">DUE</th>
        <th>Horas de progreso</th>
        <th>Servicio completo</th>
        <th>Certificados</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of studentProject" class="editable-row">
        <td>{{ data.carnet }}</td>
        <td>{{ data.horasProgreso }}</td>
        <td>{{ data.servicioCompleto ? 'Completo': 'Incompleto'}}</td>
        <td>
          <nz-upload
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76?ab=cd"
            (nzChange)="handleChange2($event)"
          >
            <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
          </nz-upload>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Integrantes del proyecto" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk() ">
  <ng-container *nzModalContent>
    <nz-table [nzData]="['']">
      <thead>
      <tr>
        <th nzWidth="30%">DUE</th>
        <th>Horas de progreso</th>
        <th>Servicio completo</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of studentProject" class="editable-row">
        <td>{{ data.carnet }}</td>
        <td>{{ data.horasProgreso }}</td>
        <td>{{ data.servicioCompleto ? 'Completo': 'Incompleto'}}</td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>

