<h1 class="mat-h1">Modulo de Proyectos</h1>
<div>
  <app-agregar-proyecto></app-agregar-proyecto>
</div>
<br/>

<mat-tab-group dynamicHeight color="warn" mat-align-tabs="center">

  <mat-tab label="Por Aprobar">
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(1)">Por Aprobar</span>
    </ng-template>
    <div >
      <nz-table>
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">

              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary"  (click)="onApproveProject(data.id)">
                <mat-icon>done_outline</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="warn" (click)="onRejectedProject(data.id)"><mat-icon>cancel</mat-icon></button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic" (click)="showModal(data.id)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>


    </div>
  </mat-tab>

  <mat-tab label="En Curso" >
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(2)">En Curso</span>
    </ng-template>
    <div >
      <nz-table>
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">

              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary"  (click)=" onCompleteProject(data.id)">
                <mat-icon>done_outline</mat-icon>
              </button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="warn"  (click)=" onRetiredProject(data.id)" ><mat-icon>cancel</mat-icon></button>
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic" (click)="showModal(data.id)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </mat-tab>

  <mat-tab label="Completados">
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(3)">Completados</span>
    </ng-template>
    <div >
      <nz-table>
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic" (click)="showModal(data.id)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </mat-tab>

  <mat-tab label="Rechazados">
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(4)">Rechazados</span>
    </ng-template>
    <div >
      <nz-table>
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic" (click)="showModal(data.id)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </mat-tab>

  <mat-tab label="Abandonados">
    <ng-template mat-tab-label>
      <span (click)="getProjectByStatus(5)">Abandonados</span>
    </ng-template>
    <div >
      <nz-table>
        <thead>
        <tr>
          <th nzWidth="30%">Proyecto</th>
          <th>Duracion</th>
          <th>Estado</th>
          <th>Fecha de Creacion</th>
          <th>Tutor</th>
          <th>Tipo de Personal</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSource" class="editable-row">
          <td> {{ data.nombre }}</td>
          <td>{{ data.duracion}} horas</td>
          <td>{{ data.status}}</td>
          <td>{{ data.fechaCreacion }} </td>
          <td>{{ data.personal}}</td>
          <td>{{ data.interno === true ? 'Tutor Interno' : 'Tutor Externo'}}</td>
          <td>
            <div style="padding: 8px 8px 0px">
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="basic" (click)="showModal(data.id)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </mat-tab>
</mat-tab-group>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Integrantes del proyecto" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk() ">
  <ng-container *nzModalContent>
    <nz-table>
      <thead>
      <tr>
        <th nzWidth="30%">DUE</th>
        <th>Horas de progreso</th>
        <th>Servicio completo</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of studentProject" class="editable-row">
        <td>{{ data.carnet }}</td>
        <td>{{ data.horasProgreso }}</td>
        <td>{{ data.servicioCompleto}}</td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
