[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.passenger-input {
  width: 60%;
  margin-right: 8px;
}

[nz-form] {
  max-width: 600px;
}

.add-button {
  width: 60%;
}

button {
  margin-right: 8px;
}

nz-select {
  width: 200px;
}


.add {
  color: #ff5131;
}

.approve {
  color: #9b0000;
}

.deny {
  color: #d50000;
}

.save  {
  color: #fff;
  background: #b71c1c!important;
  border-color: #f05545!important;
}
