<button mat-icon-button (click)="showModal()" color="basic"  nz-tooltip nzTooltipTitle="Agregar Proyecto" nzTooltipColor="#ff7961">
  <mat-icon class = "add">control_point</mat-icon>
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Agregar Proyecto" (nzOnCancel)="handleCancel()"
          (nzOnOk)="submitForm()" nzOkText="Guardar" class="save">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="proyecto" nzRequired
                       nzTooltipTitle="Escribe el nombre completo del proyecto">Proyecto
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Porfavor ingrese el nombre del proyecto">
          <textarea rows="4" nz-input id="proyecto" formControlName="proyecto"
                    placeholder="Nombre de Proyecto"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="duracion" nzRequired>Duración (horas)</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24"
                         nzErrorTip="Porfavor ingrese la duracion del proyecto en horas mayor a 100!">
          <input nz-input type="number" id="duracion" formControlName="duracion"
                 (ngModelChange)="updateConfirmValidator()"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngFor="let control of listOfControl; let i = index" nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24" *ngIf="i == 0" [nzFor]="control.controlInstance">Estudiantes
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24"
                         [nzOffset]="i == 0 ? 0 : 4"
                         nzErrorTip="Porfavor ingrese DUES validos ya registrados"
        >
          <input
            class="passenger-input"
            nz-input
            placeholder="DUE, Eje: IR13002"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance"
          />
          <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
          <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
            <i nz-icon nzType="plus"></i>
            Agregar campo
          </button>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <p style="margin-bottom: 20px;">
            <input (click)="isInternalPersonal()" type="checkbox" formControlName="agree">
            {{ internalPersonal ? 'Tutor Externo' : 'Tutor Interno' }}
          </p>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="!internalPersonal  else internalPersonalTemplate">
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">

            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona un tutor externo"
                         formControlName="personal">
              <nz-option nzLabel="{{personal.nombre}} {{personal.apellido}} | {{personal.descripcion}}" nzValue="{{personal.id}}"
                         *ngFor="let personal of externalPersonalData" ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>

  </ng-container>
</nz-modal>

<ng-template #internalPersonalTemplate>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona un Departamento"
                 [(ngModel)]="departmentSelectedValue"
                 (ngModelChange)="onRetrieveInternalPersonal($event)">
        <nz-option nzLabel="{{department.nombre}}" nzValue="{{department.id}}"
                   *ngFor="let department of departments; let index"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona a un tutor interno"
                 [(ngModel)]="internalPersonalSelectedValue" [disabled]="internalPersonalCombobox">
        <nz-option nzLabel="{{personal.nombre}} {{personal.apellido}}" nzValue="{{personal.id}}"
                   *ngFor="let personal of internalPersonalData"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</ng-template>

